<div class="onewrapper">
  <form method="post" action="./snippet/{{viewData.id}}/update">
  <div class="form-group">
    <input type="hidden" name="id" value="{{viewData.id}}" />
      <input type="text" class="form-control" name="snippettitle" value="{{viewData.title}}" required="required" autofocus="autofocus" />
     <textarea class="form-control" name="snippettext" placeholder="Text here" required="required" autofocus="autofocus" rows="4" cols="50"> {{viewData.text}} </textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-dark">Update snippet</button>
</form>
</div>