<base href="{{baseURL}}" />
{{#if viewData.snippets.length }}
<div class="snippetwrapper">
{{#each viewData.snippets}}
    <div class="snippet shadow">
    <div class="links">
    <a href="snippet/{{this.id}}"><img class="open" src="./images/extlink.png" alt="Open"></a>
    </div>
    <strong>{{this.title}}</strong> 
    <p>{{this.text}}</p>
    </div>
{{/each}}
</div>
{{/if}}