<style>
.open {
  width: 16px;
  height: 17px;
}

.open:hover {
  filter: invert(50%);
}

.links {
  align-self: flex-end;
}
</style>
{{#if viewData.snippets.length }}
<div class="snippetwrapper">
{{#each viewData.snippets}}
    <div class="snippet shadow">
    <div class="links">
    <a href="snippet/{{this.id}}"><img class="open" src="./images/extlink.png" alt="Open"></a>
    </div>
    <strong>{{this.title}}</strong> 
    <p>{{this.text}}</p>
    </div>
{{/each}}
</div>
{{/if}}