<h1 class="medium colorful2 spacing">All snippets</h1>

{{#if viewData.snippets.length }}
{{>snippets}}
{{/if}}

{{#unless viewData.snippets.length }}
<h2 class="spacing">No snippets yet</h2>
{{/unless}}