<style>
#top {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 10px;
}

@media only screen and (max-width: 850px) {

       #top {
           flex-direction: column;
       }
    }
</style>
<div id="top">
    <h1 class="colorful medium">My snippets</h1>
<a  class="btn btn-outline-dark btn-lg" href="./snippets/new">Create snippet</a>
</div>

{{#if viewData.snippets.length }}
{{>snippets}}
{{/if}}

{{#unless viewData.snippets.length }}
<h2>Nice to see you {{viewData.user}}. You dont have any snippets yet.</h2>
{{/unless}}
