<style>
#newsnippetlink {
background-color: #baa0c4;
border-radius: 20px;
color: black;
margin: 1vw;
height: max-content;
width: 200px;
padding: 10px;
}

#newsnippetlink:hover {
background-color: #5a4064;
color: white;
}

.snippet {
  background-image: linear-gradient(#a381a8, #8c789f, #ede7ee) !important;
}

#top {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: auto;
    justify-content: center;
    align-items: center;
}
</style>
<div id="top">
    <h1 class="py-5 colorful medium">My snippets</h1>
<a  class="btn btn-outline-dark btn-lg" href="./snippets/new">Create snippet</a>
</div>

{{#if viewData.snippets.length }}
{{>snippets}}
{{/if}}

{{#unless viewData.snippets.length }}
<h2>Nice to see you {{viewData.user}}. You dont have any snippets yet.</h2>
{{/unless}}
