<a href="./snippets/new">New snippet</a>

<h1>My snippets</h1>
{{>snippets}}

{{#unless viewData.snippets.length }}
<h2>Nice to see you {{viewData.user}}. You dont have any snippets yet</h2>
{{/unless}}