<style>
#top {
    display: flex;
    gap: 10px;
    width: max-content;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
</style>
<div id="top">
    <h1 class="py-5 colorful medium">My snippets</h1>
<a  class="btn btn-outline-dark btn-lg" href="./snippets/new">Create snippet</a>
</div>

{{#if viewData.snippets.length }}
{{>snippets}}
{{/if}}

{{#unless viewData.snippets.length }}
<h2>Nice to see you {{viewData.user}}. You dont have any snippets yet.</h2>
{{/unless}}
