<h1 class="py-5 colorful medium spacing" >New Snippet</h1>
<div class="onewrapper">
<form method="post" action="./snippets/create">
  <div class="form-group">
      <input type="text" class="form-control" name="snippettitle" placeholder="Title" required="required" autofocus="autofocus" minlength="1" maxlength="40"/>
    <textarea class="form-control" name="snippettext" placeholder="Text here" required="required" autofocus="autofocus" rows="8" cols="60" minlength="1" maxlength="5000"></textarea>
  </div>
  <button type="submit" class="btn btn-lg btn-dark">Create Snippet</button>
</form>
</div>