<h1 class="py-5" id="welcome">Welcome to the snippet app</h1>
<div class="container">
<div class="row justify-content-evenly">

    <div class="col-md-3" id="registrationlinkwrapper">
        <h2>New to the site?</h2>
        <a id="registerlink" href="./register">Register here</a>
    </div>

    <div id="login" class="start-form shadow p-3 mb-5 p-4 col-md-9">
    <h2 class="mb-3 over-form-text">Log in</h2>
        <form method="post" action="./log-in">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>

                {{#if username }}
                <input type="text" value="{{username}}" autocomplete="off" required name="username" class="form-control" id="username">
                {{/if}}

                {{#unless username }}
                <input type="text" autocomplete="off" required name="username" class="form-control" id="username">
                {{/unless}}

            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password</label>
                <input type="password"  minlength="10" required class="form-control" id="pwd">
            </div>
            <button type="submit" class="mt-4 btn btn-dark">Submit</button>
        </form>
    </div>

</div>
</div>